/* You can add global styles to this file, and also import other style files */
@import 'react-datepicker/dist/react-datepicker.css';
@import 'reset.local';

p.blockquote {
  background: transparent;
  border-left: 2px solid #1b74b4;
  margin: 0 10px 12px;
  padding: 0.5em 10px;
}

p.blockquote p {
  display: inline;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #c4c4c4 transparent;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #c4c4c4;
  border-radius: 4px;
}

.public-DraftStyleDefault-ul,
.DraftView ul {
  padding-left: 1rem;
  list-style: initial;
}

.public-DraftStyleDefault-ol,
.DraftView ol {
  padding-left: 1rem;
  list-style: decimal;
}

.DraftEditor-root {
  color: #000;
  line-height: 1.5rem;
}
